<%- include('../includes/header'); %>

  <div class="container">
    <h2>
      Edit Penjualan
    </h2>

    <form action="/penjualans/<%- penjualan.id %>/update" method="POST">
        <div class="mb-3">
			<label for="obat_id" class="form-label">id_obat</label>
			<select name="obat_id" id="obat_id" class="form-select">
                <% obat.forEach(function(obats) { %>
                    <option value="<%= obats.id %>"> <%= obats.id %></option>
                 <% }); %> 
            </select>
		</div>
		<div class="mb-3">
			<label for="tanggal" class="form-label">Tanggal</label>
			<input type="text" name="tanggal" class="form-control" id="tanggal" />
		</div>
		<div class="mb-3">
			<label for="qty" class="form-label">Jumlah</label>
			<input type="number" name="qty" class="form-control" id="qty" />
		</div>
		<div class="mb-3">
			<label for="admin_id" class="form-label">admin_id</label>
			<input type="text" name="admin_id" class="form-control" id="admin_id" />
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <%- include('../includes/footer'); %>